*{box-sizing: border-box;}
*::after, *::before{
    box-sizing: inherit;
}
:root{
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%)
}
body{
    font-family: 'Open Sans', sans-serif;
    color: var(--GrayishBlue);
}
ul{
    list-style-type: none;
    padding: 0;
}
h1, h2{
    color: var(--VeryDarkCyan)
}
h1{
    font-weight: 700;
}
.container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flex img{
    max-width: 100%;
    width: 50%;
    min-width: 50%;
}

/* header styling */
.headerContent{
    text-align: center;
    margin: 0 auto;
}
.headerContent p{
    color: hsl(208, 11%, 55%);
    font-size: 16px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 40px;
}
.try-it-free{
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    padding: 10px 50px;
    border: 1px solid var(--Pink);
    color: var(--Pink);
}
header{
    margin-bottom: 250px;
}
.headerContent div{
    margin-right: 40px;
    flex: 0.4;
}
.headerContent img{
    max-width: 60%;
    margin-top: 80px;
}
.getReadyBtn{
    background-color: var(--Pink);
    color: var(--VeryPaleCyan);
    border-radius: 25px;
    padding: 15px 50px;
    border: 1px solid var(--VeryPaleCyan);
    margin-top: 30px;
}
.incrementText{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.big{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
    font-weight: 700;
}
/* grow-together styling*/
.grow-together::before{
    content: "";
    background-image: url("/images/bg-section-top-desktop-1.svg");
    height: 170px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: -165px;
}
.grow-together::after{
    content: "";
    background-image: url("/images/bg-section-bottom-desktop-1.svg");
    height: 170px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
}
.grow-together, .your-users{
    position: relative;
}
.grow-together, .your-users{
    background-color: hsl(207, 100%, 98%);
}
.flowing-conversation > div{
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.small-container div{
    flex: 0.6;
    margin-right: 20px;
}
.small-container img{
    flex: 0.4;
    margin-left: 30px;
    padding-left: 100px;
}
.your-users::before{
    content: "";
    background-image: url("/images/bg-section-top-desktop-2.svg");
    height: 170px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: -156px;
}
.your-users::after{
    content: "";
    background-image: url("/images/bg-section-bottom-desktop-2.svg");
    height: 170px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    
}
.flowing-conversation{
    margin-top: 200px;
   margin-bottom: 200px;
}
.grow-together > div > div, .your-users > div > div{
    flex: 0.6;
    margin-right: 20px;
}
.grow-together > div > img, .your-users > div > img{
    flex: 0.4;
    margin-left: 30px;
    padding-left: 100px;
}
.flowing-conversation > div > img{
    flex: 0.4;
    margin-right: 30px;
    padding-right: 100px;
}
.flowing-conversation > div > div{
    margin-left: 20px;
    flex: 0.6;
}
/* community styling*/
.readyToBuildCommunity{
    margin: 200px 0;
}
.community{
    display: inline-block;
    width: 40%;
    background-color: #fff;
   
}
.alignCenter{
    text-align: center;
}
/* footer styling */
footer::before{
    content: "";
    background-image: url("/images/bg-footer-top-desktop.svg");
    height: 170px;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: -156px;
    
}
footer{
    background-color: var(--VeryDarkCyan);
    color: #fff;
    position: relative;
    margin-top: 270px;
    padding-bottom: 30px;
}
footer h2{
    color: #ffffff;
    text-transform: capitalize;
}
.rightFooter,.leftFooter {
    flex: 0.5;
}
.rightFooterText{
    width: 50%;
}
.leftFooterText{
    width: 60%;
    margin-bottom: 40px;
}
.leftFooter input{
    width: 60%;
}
.leftFooter input, .leftFooter button{
    height: 50px;
    border: none;   
    border-radius: 5px;
}
.leftFooter button{
    width: 30%;
    background-color: var(--Pink);
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer ul li{
    color: #fff;
    margin: 20px 0;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
}
footer > div > div {
    justify-content: space-between;
}
footer ul li img{
    margin-right: 20px;
}
.socialMedia{
    display: flex;
    flex-wrap: wrap;
    
}
.socialMedia a{
    padding: 5px;
    font-weight: 600;
    font-size: 26px;
    margin-right: 20px;
}
.alignItemsFlexStart{align-items: flex-start;}
.footerContent{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

/* media query */
@media (max-width: 768px){
    nav img{
        max-width: 30%;
    }
    nav button{
        padding: 5px 25px;
    }
    .textAlignCenter{
        text-align: center;
    }
    .columnReverse{
        flex-direction: column-reverse;
    }
    .flex img{
        width: 100%;
        margin-bottom: 50px;
    }
    .flowing-conversation div{
        flex-direction: column;
    }
    .headerContent img{
        margin-left: 0;
    }
    .headerContent div{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .flowing-conversation > div > img {
      margin-right: 0px; 
      padding-right: 0px;
    }
    .flowing-conversation > div {
        padding: 10px;
    }
    .socialMedia{
        margin: 0 auto;
    }
    .container{
        padding: 10px;
    }
    .community{
        width: 80%;
    }
    .leftFooter{
       margin-bottom: 50px;
    }
    .headerContent p{
        width: 100%;
    }
    
}
@media (max-width: 455px){
    footer::before{
        background-image: url("/images/bg-footer-top-mobile.svg");
        top: -52px;
    }
    
    .your-users::after{
        background-image: url("/images/bg-section-bottom-mobile-1.svg");
    }
    .your-users::before{
        background-image: url("/images/bg-section-top-mobile-1.svg");
        top: -111px;
    }
    .grow-together::before{
        background-image: url("/images/bg-section-top-mobile-1.svg");
        top: -111px;
    }
    .grow-together::after{
        background-image: url("/images/bg-section-bottom-mobile-1.svg");
    }
    .incrementText{
        flex-direction: column;
    }
    .communitiesFormed, .messageSent{
        margin: 0 auto 40px;
    }
    h1{
        font-size: 1.6em;
    }
    header {
        margin-bottom: 150px;
    }
    .leftFooterText, .rightFooterText{
        width: 100%;
    }
    .leftFooter input{
        width: 100%;
    }
   .leftFooter{
       margin-bottom: 50px;
    }
    .leftFooter button{
       margin-top: 20px;
       margin-left: auto;
       display: inherit;
       width: 50%;
    }
}